.a
{height: 165px;
background-color: blue;
margin: auto;}
.b
{color: white;
font-size: 110px;
font-family: inherit;;
text-align: center;
}
.c
{background:url(http://images.all-free-download.com/images/graphiclarge/blue_abstract_background_310971.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;}
.d
{height: 45px;
  background-color:  grey;
  margin: auto;}

  .inline-block
  li { display: inline-block;}

  .d
  {text-align: center;
  font-size: 25px;
  font-family: times;}

  .wrapper
  {width: 1250px;
  margin: auto;
  }
.e
{
font-size: 18px;
  font-family: inherit;;
}
.f
{
  font-size: 18px;
  font-family: inherit;;
}
.g
{
font-size: 18px;
  font-family: inherit;;
}
.image
{
  display: flex;

}
